<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILampService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/LampService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILampService"
                contract="ILampService" name="BasicHttpBinding_ILampService" />
        </client>
    </system.serviceModel>
</configuration>